@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "DrukApp-Heavy";
    src: url(/fonts/DrukApp-Heavy.woff) format("woff"),
      url(/fonts/DrukApp-Heavy.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
